<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testlib.data.reader.ReaderMapper">
    <select id="getReadersByAccount" resultMap="Reader">
        select * from Reader where account=#{account}
    </select>
    <select id="getAllReaders" resultMap="Reader">
        select * from Reader
    </select>
    <insert id="createNewReader" parameterType="com.example.testlib.po.Reader" useGeneratedKeys="true" keyProperty="id">
        insert into Reader(account,name,sex,condi)
        values(#{account},#{name},#{sex},#{condi})
    </insert>
    <delete id="delReader">
        delete from Reader where id=#{id}
    </delete>
    <resultMap id="Reader" type="com.example.testlib.po.Reader">
        <id column="id" property="id"></id>
        <result column="account" property="account"></result>
        <result column="name" property="name"></result>
        <result column="sex" property="sex"></result>
        <result column="condi" property="condi"></result>
    </resultMap>
    <!--
    <insert id="createNewAccount" parameterType="com.example.testlib.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,username,phonenumber,credit,usertype)
        values(#{email},#{password},#{userName},#{phoneNumber},#{credit},#{userType})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from User where email=#{email}
    </select>
    <select id="getAccountById" resultMap="User">
        select * from User where id=#{id}
    </select>
    <update id="updateAccount">
        update User set password=#{password},username=#{userName},phonenumber=#{phoneNumber}
        where id=#{id}
    </update>


    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
    -->
</mapper>