<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testlib.data.book.BookMapper">
    <insert id="addBook" parameterType="com.example.testlib.po.Book" useGeneratedKeys="true" keyProperty="id">
        insert into Book(title,author,publisher,publishtime,descri,num)
        values (#{title},#{author},#{publisher},#{publishtime},#{descri},#{num})
    </insert>
    <select id="getBookById" resultMap="Book">
        select * from Book where id=#{id}
    </select>
    <select id="getBooksByTitle" resultMap="Book">
        select * from Book where title=#{title}
    </select>
    <select id="getAllBooks" resultMap="Book">
        select * from Book
    </select>
    <update id="updateNum">
        update Book set num=#{num}
        where id=#{id}
    </update>
    <resultMap id="Book" type="com.example.testlib.po.Book">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="author" property="author"></result>
        <result column="publisher" property="publisher"></result>
        <result column="publishtime" property="publishtime"></result>
        <result column="descri" property="descri"></result>
        <result column="num" property="num"></result>
    </resultMap>
    <!--
    <insert id="createNewAccount" parameterType="com.example.testlib.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email,password,username,phonenumber,credit,usertype)
        values(#{email},#{password},#{userName},#{phoneNumber},#{credit},#{userType})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from User where email=#{email}
    </select>
    <select id="getAccountById" resultMap="User">
        select * from User where id=#{id}
    </select>
    <update id="updateAccount">
        update User set password=#{password},username=#{userName},phonenumber=#{phoneNumber}
        where id=#{id}
    </update>


    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
    -->
</mapper>